@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background: #e5e5e5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.disabled {
  opacity: 0.5 !important;
  background: #b7b7b7 !important;
  color: #ffffff !important;
  pointer-events: none !important;
  cursor: default;
}

button {
  border: 0;
  box-shadow: none;
  border-radius: 10px;
  padding: 10px;
  min-width: 100px;
  font-size: 1.1rem;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  height: 100%;
  width: 100%;
  min-height: 500px;
}

section > .container {
  width: 92%;
  padding: 60px 0 60px 0;
}

section p {
  margin: 10px;
  line-height: 1.8rem;
}

::selection {
  background: #000000;
}

/* Header */
header {
  height: 90vh;
  width: 100%;

  background: linear-gradient(
      to bottom,
      rgba(0, 156, 56, 0.5),
      rgba(33, 33, 33, 100)
    ),
    url("../images/header/headerBg.png") no-repeat center center;
  background-size: cover;

  color: #fff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

header .container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}

header .container .left,
header .container .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header .container .left h1 {
  font-size: 28px;
  text-shadow: rgb(0, 0, 0) 2px 5px 10px;
}

header .container .left p {
  margin: 20px 0;
  font-size: 22px;
  color: #ffdf00;
}

header .container .right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .right img.urna {
  height: 240px;
}

header .container .right img.cf {
  position: absolute;
  height: 150px;
  bottom: -45px;
  filter: drop-shadow(0 0 5rem #212121);
  animation: floating 2s infinite;
}

header .container .left a {
  background: transparent;
  border: 2px solid #009c38;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s;
  margin-bottom: 30px;
}

header .container .left a:hover {
  transform: scale(1.1);
}

header .scroll {
  display: flex;
  justify-content: center;
  width: 100%;
}

header .scroll .iconify {
  position: absolute;
  bottom: 20px;
  font-size: 30px;
  animation: floating 2s infinite;
  box-shadow: 0 0 50px rgba(33, 33, 33, 0.3);
}

@media (max-width: 600px) {
  header .container div {
    margin: 0;
  }

  header .container .left h1 {
    font-size: 24px;
    width: 90%;
  }

  header .container .right img.urna {
    height: 130px;
  }

  header .container .right img.cf {
    height: 90px;
  }
}

@media (max-width: 320px) {
  header {
    height: 100vh;
  }

  header .container .left h1 {
    font-size: 17px;
  }

  header .container .left p {
    font-size: 12px;
  }

  header .container .left a {
    font-size: 10px;
  }

  header .container .right img.urna {
    height: 100px;
  }

  header .container .right img.cf {
    height: 40px;
  }
}

/* Navbar Responsive - START */
.navbar {
  height: 70px;
  width: 100%;
  padding: 50px;

  position: fixed;
  z-index: 999;
  top: 0;
  transition: top 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(33, 33, 33, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.navbar #logo img {
  height: 80px;
  filter: drop-shadow(5px 5px 10px rgba(33, 33, 33, 0.5));
}

.navbar #links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar #links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.1rem;
  text-decoration: none;

  text-shadow: rgba(33, 33, 33, 0.5) 2px 5px 10px;

  color: #fff;
  border-radius: 10px;
  transition: 0.2s;
}

.navbar #links a .iconify {
  margin-right: 7px;
}

.navbar #links a:hover {
  color: #ffdf00;
  transform: scale(1.05);
}

.navbar #btn-mobile {
  display: none;
}

@media (max-width: 1400px) {
  .navbar .menu {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-between;
  }

  .navbar #btn-mobile {
    display: block;
  }

  .navbar #links {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100% !important;
    height: 42vh !important;
    top: 70px;
    right: 0;

    background: rgba(33, 33, 33, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    z-index: 9999;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
  }

  .navbar .menu.active #links {
    height: 260px;
    visibility: visible;
  }

  .navbar #links a {
    box-shadow: none;
    background: transparent;
    flex-direction: column;
    gap: 0.5rem;
  }

  .navbar #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  .navbar #hamburger {
    color: #fff;
    display: block;
    border-top: 2px solid;
    width: 20px;
    transform: scale(1.8);

    position: absolute;
    top: -7px;
    right: 0;
  }

  .navbar #hamburger::after,
  .navbar #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  .navbar .menu.active #hamburger {
    border-top-color: transparent;
  }

  .navbar .menu.active #hamburger::before {
    transform: rotate(135deg);
  }

  .navbar .menu.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/* Backgrounds */
.bgWhite {
  background: #ffffff;
  color: #000000;
}

.bgBlue {
  background: #002776;
  color: #ffffff;
}

.bgGreen {
  background: #009c38;
  color: #ffffff;
}

.bgYellow {
  background: #ffdf00;
  color: #000000;
}

.bgBlack {
  background: #212121;
  color: #ffffff;
}

.bgWhiteGlass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.bgBlackGlass {
  background: rgba(33, 33, 33, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.bgTransparent {
  background: transparent !important;
}

/* information styles */
.information > .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.information > .container > div {
  display: flex;
  justify-content: center;
}

.information h1 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.information > .container > div > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 20px 10px 20px;
}

.information > .container > div > div > img {
  height: 140px;
}

.information > .container > div > div > p {
  width: 80%;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .information h1 {
    font-size: 1.2rem;
  }

  .information > .container > div {
    flex-direction: column;
  }

  .information > .container > div > div > p {
    width: 100%;
  }
}

/* issue_my_title styles */
.issue_my_title {
  background: linear-gradient(
      to top,
      rgba(0, 156, 56, 0.5),
      rgba(33, 33, 33, 100)
    ),
    url("../images/bgBrasilia.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  height: 700px;
}

.issue_my_title iframe {
  height: 100%;
  width: 100%;
  max-height: 360px;
  max-width: 500px;
  padding: 10px;
  border-radius: 20px;
  aspect-ratio: 16/9;
}

.issue_my_title .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.issue_my_title h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.issue_my_title p {
  font-size: 1.2rem;
  width: 80%;
}

.issue_my_title a {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffdf00;
  font-size: 1.6rem;
  border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
  animation: pulseShadow 2s infinite;
  transition: 0.2s;
  padding: 10px;
  margin-top: 25px;
}

.issue_my_title a .iconify {
  margin-right: 5px;
}

.issue_my_title a:hover {
  transform: scale(1.1);
}

@media (max-width: 1800px) {
  .issue_my_title h1 {
    display: block;
    font-size: 1.2rem;
    width: 100% !important;
  }

  .issue_my_title a {
    font-size: 1.1rem;
  }

  .issue_my_title p {
    width: 100%;
    font-size: 1.1rem;
  }
}

/* ebookDownload styles */
.ebookDownload h1 {
  font-size: 1.8rem;
  margin-bottom: 35px;
}

.ebookDownload .area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.ebookDownload img {
  height: 350px;
  animation: floating 2s infinite;
}

.ebookDownload p {
  font-size: 1.4rem;
  margin-bottom: 50px;
  text-align: center;
}

.ebookDownload .linksGroup {
  display: flex;
  justify-content: center;
}

.ebookDownload a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #002776;
  color: #fff;

  font-size: 1.5rem;
  padding: 15px;
  border-radius: 10px;
  margin-left: 10px;

  transition: all ease-in 0.2s;
}

.ebookDownload a .iconify {
  margin-right: 10px;
}

.ebookDownload a:hover {
  background: #009c38;
}

.ebookDownload p > span {
  display: block;
  color: #009c38;
  font-weight: bold;
  margin-top: 15px;
}

@media (max-width: 1400px) {
  .ebookDownload h1 {
    font-size: 1.3rem;
  }

  .ebookDownload p {
    font-size: 1.5rem;
  }
  .ebookDownload a {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .ebookDownload img {
    height: 250px;
    animation: floating 2s infinite;
  }
  .ebookDownload .area {
    flex-direction: column-reverse;
  }
  .ebookDownload .linksGroup {
    flex-direction: column;
  }
}

/* manifests styles */
.manifests .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.manifests h1 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #ffdf00;
}

.manifests p {
  width: 70%;
  font-size: 1.2rem;
}

@media (max-width: 1800px) {
  .manifests h1 {
    font-size: 1.3rem;
  }

  .manifests p {
    width: 95%;
    font-size: 1.1rem;
  }
}

/* footer styles */
footer {
  width: 100%;
  background: #131313;
  background: linear-gradient(
      to bottom,
      rgba(0, 156, 56, 0.5),
      rgba(33, 33, 33, 100)
    ),
    url("../images/header/headerBg.png") no-repeat center center;
  background-size: cover;

  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

footer p {
  font-size: 1.1rem;
  margin: 10px;
}

footer a {
  color: #009c38;
}

footer p:first-child {
  color: #ffdf00;
  font-weight: bold;
}

footer img {
  height: 100px;
  margin: 20px;
}

@media (max-width: 1800px) {
  footer {
    padding: 20px;
    text-align: center;
  }

  footer .container {
    flex-direction: column;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Animation and Keyframes
--------------------------------------------------------------*/
@keyframes pulseShadow {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
  }

  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes floating {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}
